#carrousel {
    position: relative;
    margin-left: 33%;
    margin-top: 100px;
}

img {
    position: absolute;
    height: 500px;
}

.controls {
    text-align: center;
    font-size: 4em;
}

span {
    margin-top: 550px;
}

span:hover {
    opacity: 0.8;
}

